{% extends 'base.html.twig' %}

{% block title %}
    Modify: {{ article.title }}
{% endblock %}

{% block body %}
    <h1>Modify article"{{ article.title }}"</h1>

    {# Gérer la publication de l'article #}
    {% if article.publishedAt is not null %}
        <p>
            Publié le {{ article.publishedAt|date('d/m/Y') }}
            à {{ article.publishedAt|date('H:i') }},
        </p>
    {% else %}
        <a href="{{ path('admin_article_publish' , {
            id:article.id,
            token: csrf_token('article_publish')
        }) }}"
           class="btn btn-info">Publish</a>
    {% endif %}
    {# Réutiliser le même formulaire que dans add.html.twig #}
    {% include 'admin/article/_article_form.html.twig' %}
{% endblock %}

